vantan_fixed.yml
app:
  description: ''
  icon: 47572148-34ad-45c9-b1bb-6e560a5c1a21
  icon_background: '#FFEAD5'
  mode: workflow
  name: vlog動画生成_VANTAN用_v2
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/gemini:0.7.15@ca2b8f2599b87de968354f0e2ccbbc0d76bac5ebf275c3f0fbdae48881d74518
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1771397177094-source-1771398198491-target
      selected: false
      source: '1771397177094'
      sourceHandle: source
      target: '1771398198491'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1771398198491-source-1771398347737-target
      selected: false
      source: '1771398198491'
      sourceHandle: source
      target: '1771398347737'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1771398347737'
        sourceType: iteration-start
        targetType: http-request
      id: 1771398347737start-source-1771398368860-target
      selected: false
      source: 1771398347737start
      sourceHandle: source
      target: '1771398368860'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1771581569316-source-1771581866614-target
      selected: false
      source: '1771581569316'
      sourceHandle: source
      target: '1771581866614'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1771398347737-source-1771994177361-target
      selected: false
      source: '1771398347737'
      sourceHandle: source
      target: '1771994177361'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: start
        targetType: llm
      id: 1771397019665-source-1773990000003-target
      selected: false
      source: '1771397019665'
      sourceHandle: source
      target: '1773990000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: code
      id: 1773990000003-source-1772023130738-target
      selected: false
      source: '1773990000003'
      sourceHandle: source
      target: '1772023130738'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1772023130738-source-1772021143468-target
      selected: false
      source: '1772023130738'
      sourceHandle: source
      target: '1772021143468'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1772021143468-source_tmp-1772023475359-target
      selected: false
      source: '1772021143468'
      sourceHandle: source_tmp
      target: '1772023475359'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1772023475359'
        sourceType: iteration-start
        targetType: http-request
      id: 1772023475359start-source-1772023501934-target
      selected: false
      source: 1772023475359start
      sourceHandle: source
      target: '1772023501934'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1772023475359'
        sourceType: http-request
        targetType: code
      id: 1772023501934-source-1772023804698-target
      selected: false
      source: '1772023501934'
      sourceHandle: source
      target: '1772023804698'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInLoop: false
        sourceType: iteration
        targetType: code
      id: 1772023475359-source-1771994177361-target
      selected: false
      source: '1772023475359'
      sourceHandle: source
      target: '1771994177361'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1771581866614-source-1771397177094-target
      selected: false
      source: '1771581866614'
      sourceHandle: source
      target: '1771397177094'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1771994177361-source-1772084233027-target
      selected: false
      source: '1771994177361'
      sourceHandle: source
      target: '1772084233027'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: 1772084796592-source-1771399830957-target
      selected: false
      source: '1772084796592'
      sourceHandle: source
      target: '1771399830957'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1772023130738-source-1772533793950-target
      selected: false
      source: '1772023130738'
      sourceHandle: source
      target: '1772533793950'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1772023130738-source-1771581569316-target
      selected: false
      source: '1772023130738'
      sourceHandle: source
      target: '1771581569316'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1772084233027-source-1772084796592-target
      selected: false
      source: '1772084233027'
      sourceHandle: source
      target: '1772084796592'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1772548676944-source-1772548924890-target
      selected: false
      source: '1772548676944'
      sourceHandle: source
      target: '1772548924890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1772548924890-source-1771994177361-target
      selected: false
      source: '1772548924890'
      sourceHandle: source
      target: '1771994177361'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1772595544896-source-1772595713562-target
      selected: false
      source: '1772595544896'
      sourceHandle: source
      target: '1772595713562'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1772595713562-source-1772596991412-target
      selected: false
      source: '1772595713562'
      sourceHandle: source
      target: '1772596991412'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1772596991412-source-1772543646634-target
      selected: false
      source: '1772596991412'
      sourceHandle: source
      target: '1772543646634'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1772543646634-source-1772548676944-target
      selected: false
      source: '1772543646634'
      sourceHandle: source
      target: '1772548676944'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1772023130738-source-1772595544896-target
      selected: false
      source: '1772023130738'
      sourceHandle: source
      target: '1772595544896'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: http-request
        targetType: code
      id: 1773115630069-source-1773115935085-target
      source: '1773115630069'
      sourceHandle: source
      target: '1773115935085'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1773115935085-source-1773115769331-target
      source: '1773115935085'
      sourceHandle: source
      target: '1773115769331'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: http-request
      id: 1772023130738-source-1773115630069-target
      source: '1772023130738'
      sourceHandle: source
      target: '1773115630069'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: code
      id: 1773115769331-source-1771994177361-target
      source: '1773115769331'
      sourceHandle: source
      target: '1771994177361'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: ユーザー入力
        type: start
        variables:
        - default: ''
          hint: ''
          label: スクール名称（=商材名）
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: product_name
        - hint: ''
          label: 動画に登場させる人物の属性
          max_length: 48
          options:
          - 20代女性
          - 30代女性
          - 40代女性
          - 50代女性
          - 20代男性
          - 30代男性
          - 40代男性
          - 50代男性
          placeholder: ''
          required: true
          type: select
          variable: subject
        - default: ''
          hint: ''
          label: 演出キーワード（例：カフェ風、エモい）
          max_length: 100
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: keywords
        - hint: ''
          label: 季節(動画に出てくる人物や状況の季節が変わります)
          max_length: 48
          options:
          - 春夏
          - 秋冬
          placeholder: ''
          required: true
          type: select
          variable: season
        - hint: ''
          label: ナレーションの属性
          max_length: 48
          options:
          - 女性1
          - 女の子1
          - 女の子2
          - 男性
          - 男の子
          - おじさん
          - 怪獣
          - キャラクター
          placeholder: ''
          required: true
          type: select
          variable: voice_type
        - default: ''
          hint: GASから自動入力。空欄の場合はスクリプト自動生成に使えません
          label: スクール概要
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: school_overview
        - default: ''
          hint: GASから自動入力
          label: 訴求ポイント
          max_length: 1000
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: appeal_points
        - default: ''
          hint: GASから自動入力
          label: キーメッセージ
          max_length: 500
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: key_message
        - hint: 空欄の場合はスクール概要・訴求ポイント・キーメッセージから自動生成
          label: スクリプト(スラッシュ/でカット境界。空欄でGeminiが自動生成)
          max_length: 500
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: script
        - default: ''
          hint: ''
          label: 注釈(常時表示されます)
          max_length: 300
          options: []
          placeholder: ''
          required: false
          type: paragraph
          variable: annotation_text
        - default: ''
          hint: ''
          label: UI画像・動画URL(3カット目に表示されます)
          max_length: 256
          options: []
          placeholder: ''
          required: false
          type: text-input
          variable: ui_media_url
        - hint: ''
          label: ロゴ画像URL(jpg,png)(GoogleDriveリンク不可)
          max_length: 256
          options: []
          placeholder: ''
          required: true
          type: text-input
          variable: logo_url
        - default: '50'
          hint: ''
          label: 演出キーワードの反映率 (0-100)
          options: []
          placeholder: ''
          required: true
          type: number
          variable: reflection_rate
      height: 343
      id: '1771397019665'
      position:
        x: 610.6855990965942
        y: 486.11071326245246
      positionAbsolute:
        x: 610.6855990965942
        y: 486.11071326245246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.5
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: script-gen-system
          role: system
          text: "あなたはバンタン向けショート動画のナレーション台本を書く担当です。\n\nルール:\n\
            1. 出力は必ずスラッシュ（/）のみでカット境界を区切った1本の文字列にすること。スラッシュは動画・テロップには含めないので、各カットのテキストにはスラッシュを入れないこと。\n\
            2. 台本が既に渡された場合は、句読点などをスラッシュに置き換えて正規化し、スラッシュ区切り1本で返すだけ。説明や装飾は一切不要。\n\
            3. 台本が空の場合のみ、スクール概要・訴求ポイント・キーメッセージをもとに、10〜12カット分のナレーションを生成し、スラッシュ区切り1本で出力すること。\n"
        - id: script-gen-user
          role: user
          text: "【既存スクリプト】\n{{#1771397019665.script#}}\n\n【スクール概要】\n{{#1771397019665.school_overview#}}\n\n【訴求ポイント】\n{{#1771397019665.appeal_points#}}\n\n【キーメッセージ】\n{{#1771397019665.key_message#}}\n\n上記のうち、既存スクリプトが空でなければスラッシュ区切りに正規化してそのまま返す。空なら概要・訴求・キーメッセージから10〜12カット分のナレーションをスラッシュ区切りで生成し、それだけを出力すること。"
        selected: false
        title: スクリプト生成(空ならGeminiで自動作成)
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1773990000003'
      position:
        x: 1460
        y: 400
      positionAbsolute:
        x: 1460
        y: 400
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: da905bdf-6b43-4aa1-a23b-54fe2ee009b7
          role: system
          text: 'あなたは「バンタン（VANTAN）」専属の映像ディレクターです。

            提供されたテンプレートの「型（iPhone 13 aesthetic / Handheld shot）」を継承しつつ、最高品質の英語プロンプトを生成してください。


            【バンタン・クリエイティブ基準】

            1. 質感: 常に「iPhone 13で撮影した未加工のVlog感（Raw and unfiltered / iPhone 13 aesthetic）」を維持。

            2. 雰囲気: 専門分野（美容、ゲーム、IT等）の熱量が伝わる、スタイリッシュでシネマティックな描写。

            3. 出力形式: 必ずJSON配列 ["Prompt 1", "Prompt 2"] の形式のみで出力。装飾や挨拶は一切禁止。'
        - id: 81561535-e068-4f7e-abb3-b2ccfe4967e2
          role: user
          text: "あなたは優秀なディレクターです。以下の情報を元に、指定された割合（{{#1771397019665.reflection_rate#}}%）で演出をブレンドした動画プロンプトを作成してください。\n\
            \n【ブレンド・ロジック】\n1. 反映率の適用: 生成する全カットのうち、{{#1771397019665.reflection_rate#}}% の数はテンプレートを無視して「{{#1771397019665.keywords#}}」を主役にしたシーンを作成。残りのカットは元のテンプレートを忠実に再現。\n\
            2. キーワード演出の型: キーワードを反映させる際も、必ずテンプレートの型（iPhone 13 aesthetic, Handheld smartphone\
            \ shot, Natural lighting）を含め、リアルなVlogとして描写すること。\n3. バンタン・エッセンス:\n   -\
            \ 美容/メイク: 繊細な手元、トレンドメイクの色彩。\n   - ゲーム/デザイン: 液晶タブレットの反射、没頭する横顔。\n   - 製菓/カフェ:\
            \ 湯気やシズル感、プロの厨房の臨場感。\n   - IT/エンジニア: コードが並ぶモニター、近未来的な集中空間。\n\n【ベースデータ】\n\
            ・キーワード: {{#1771397019665.keywords#}}\n・反映率: {{#1771397019665.reflection_rate#}}%\n・人物/季節: {{#1771397019665.subject#}}\
            \ / {{#1771397019665.season#}}\n・テンプレート: {{#1771581866614.result#}}\n\n【Veo 3遵守事項】\n・必ず英語で出力。プレースホルダーは具体的描写に置き換えて消去すること。\n"
        selected: false
        title: プロンプト作成
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1771397177094'
      position:
        x: 2139.186853846386
        y: 282
      positionAbsolute:
        x: 2139.186853846386
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport re\n\ndef main(arg1: str) -> dict:\n    try:\n\
          \        # LLMの出力から不要な文字を消してリスト化\n        cleaned_str = re.sub(r'^```json\\\
          s*|\\s*```$', '', arg1.strip(), flags=re.MULTILINE)\n        data = json.loads(cleaned_str)\n\
          \        return {\"prompts\": data}\n    except Exception as e:\n      \
          \  return {\"prompts\": []}"
        code_language: python3
        outputs:
          prompts:
            children: null
            type: array[string]
        selected: false
        title: コード実行
        type: code
        variables:
        - value_selector:
          - '1771397177094'
          - text
          value_type: string
          variable: arg1
      height: 52
      id: '1771398198491'
      position:
        x: 2420.2398607934742
        y: 282
      positionAbsolute:
        x: 2420.2398607934742
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: continue-on-error
        flatten_output: true
        height: 289
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '1771398198491'
        - prompts
        output_selector:
        - '1771398368860'
        - body
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1771398347737start
        title: 動画生成
        type: iteration
        width: 386
      height: 289
      id: '1771398347737'
      position:
        x: 2764.847858228522
        y: 292.94678833769575
      positionAbsolute:
        x: 2764.847858228522
        y: 292.94678833769575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 386
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1771398347737start
      parentId: '1771398347737'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 2788.847858228522
        y: 360.94678833769575
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: Key b394497c-2e15-4638-8ce3-c30f9c3eb04a:ec838f6e440316a2081437ab2ceae68c
            header: Authorization
            type: custom
          type: api-key
        body:
          data:
          - id: key-value-243
            key: ''
            type: text
            value: "{\n  \"prompt\": \"{{#1771398347737.item#}}\",\n  \"aspect_ratio\"\
              : \"9:16\",\n  \"duration\": \"6s\",\n  \"resolution\": \"720p\",\n\
              \  \"generate_audio\": false,\n  \"auto_fix\": true\n}"
          type: json
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1771398347737'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          connect: 10
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
          read: 600
        title: HTTP リクエスト
        type: http-request
        url: https://fal.run/fal-ai/veo3/fast
        variables: []
      height: 138
      id: '1771398368860'
      parentId: '1771398347737'
      position:
        x: 128
        y: 118.22912830104201
      positionAbsolute:
        x: 2892.847858228522
        y: 411.17591663873776
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        outputs:
        - value_selector:
          - '1772084796592'
          - final_video_url
          value_type: string
          variable: result
        selected: false
        title: 出力
        type: end
      height: 88
      id: '1771399830957'
      position:
        x: 4718.298893851335
        y: 645.4997786190339
      positionAbsolute:
        x: 4718.298893851335
        y: 645.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data: []
          type: none
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: プロンプトスプシ連携
        type: http-request
        url: https://docs.google.com/spreadsheets/d/1Frj_ova-w3yhp6YOOfJT0Aqt91qXkQofN90PnMJ8_wI/export?format=csv&gid=0
        variables: []
      height: 186
      id: '1771581569316'
      position:
        x: 1580.9386983903175
        y: 282
      positionAbsolute:
        x: 1580.9386983903175
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import requests\nimport csv\nimport random\nfrom io import StringIO\n\
          \ndef main(file_list: list, segments: list) -> dict:\n    if not file_list\
          \ or len(file_list) == 0:\n        return {\"result\": \"エラー: ファイルが見つかりません\"\
          }\n    \n    # 必要なカット数（音声のセグメント数）\n    scene_count = len(segments) if segments\
          \ else 1\n    \n    file_url = file_list[0]['url']\n    response = requests.get(file_url)\n\
          \    response.encoding = 'utf-8'\n    \n    f = StringIO(response.text)\n\
          \    reader = csv.reader(f)\n    data = list(reader)\n    \n    if len(data)\
          \ < 2:\n        return {\"result\": \"エラー: CSVのデータが空です\"}\n        \n  \
          \  headers = data[0]  # ジャンル名\n    rows = data[1:]    # プロンプト本体\n    \n\
          \    # 全ての有効なプロンプトを「(ジャンル名) プロンプト内容」の形式で1つのリストにまとめる\n    all_pool = []\n\
          \    for col_idx, genre in enumerate(headers):\n        for row in rows:\n\
          \            if len(row) > col_idx and row[col_idx].strip():\n         \
          \       all_pool.append(f\"[{genre}] {row[col_idx].strip()}\")\n    \n \
          \   # 【改善の核】リスト全体をランダムにシャッフルする\n    random.shuffle(all_pool)\n    \n   \
          \ selected_templates = []\n    for i in range(scene_count):\n        if\
          \ i < len(all_pool):\n            # シャッフルされたリストから順番に取り出す（重複しない）\n      \
          \      selected_templates.append(all_pool[i])\n        else:\n         \
          \   # 万が一、スプレッドシートの総行数よりカット数が多い場合は、\n            # 再度シャッフルして再利用する\n    \
          \        random.shuffle(all_pool)\n            selected_templates.append(all_pool[0])\n\
          \            \n    result_str = \"\\n\".join([f\"Template {i+1}: {t}\" for\
          \ i, t in enumerate(selected_templates)])\n    \n    return {\"result\"\
          : result_str}"
        code_language: python3
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: プロンプトをランダムに選ぶ
        type: code
        variables:
        - value_selector:
          - '1771581569316'
          - files
          value_type: array[file]
          variable: file_list
        - value_selector:
          - '1772023130738'
          - audio_segments
          value_type: array[string]
          variable: segments
      height: 52
      id: '1771581866614'
      position:
        x: 1863.628441280069
        y: 282
      positionAbsolute:
        x: 1863.628441280069
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(Video_Source: list, Audio_Source: list, Caption_Source:\
          \ list, Original_Source: list, BGM_Source: str, Annotation_Text: str, Product_Name:\
          \ str, Logo_URL: str, Insert_Media_URL: str, SE_Start_URL: str, SE_Product_URL:\
          \ str, SE_Other_URLs: list) -> dict:\n    elements = []\n    overlap_duration\
          \ = 0.1\n    \n    # URL変換\n    logo_url = str(Logo_URL).strip().replace(\"\
          ?dl=0\", \"?dl=1\") if Logo_URL else None\n    safe_annotation = str(Annotation_Text).replace('※',\
          \ '\\u203B').strip() if Annotation_Text else \"\"\n    # UIメディアURLの整理\n\
          \    insert_media_url = str(Insert_Media_URL).strip().replace(\"?dl=0\"\
          , \"?dl=1\") if Insert_Media_URL else \"\"\n    \n    if isinstance(Caption_Source,\
          \ str):\n        try:\n            caption_list = json.loads(Caption_Source.replace('```json',\
          \ '').replace('```', '').strip())\n        except:\n            caption_list = list(Original_Source) if Original_Source else [Caption_Source]\n\
          \    else:\n        caption_list = Caption_Source if (Caption_Source and len(Caption_Source) > 0) else (list(Original_Source) if Original_Source else [])\n\
          \n\
          \n    other_se_idx = 0\n\n    for i, (v_item, a_item) in enumerate(zip(Video_Source,\
          \ Audio_Source)):\n        try:\n            v_data = json.loads(v_item)\
          \ if isinstance(v_item, str) else v_item\n            v_url = v_data.get(\"\
          video\", {}).get(\"url\") if isinstance(v_data, dict) else v_data\n    \
          \        a_url = a_item if isinstance(a_item, str) and a_item.startswith(\"\
          http\") else json.loads(a_item).get(\"audio_url\")\n            \n     \
          \       if not v_url or not a_url: continue\n\n            summarized_text\
          \ = caption_list[i] if i < len(caption_list) else \"\"\n            original_text\
          \ = Original_Source[i] if i < len(Original_Source) else \"\"\n         \
          \   \n            clean_product = str(Product_Name).strip().replace(\" \"\
          , \"\").replace(\"　\", \"\")\n            clean_original = str(original_text).strip().replace(\"\
          \ \", \"\").replace(\"　\", \"\")\n            \n            show_logo =\
          \ logo_url and (clean_product in clean_original)\n\n            scene_elements\
          \ = [\n                {\"type\": \"video\", \"source\": v_url, \"fit\"\
          : \"cover\", \"duration\": \"100%\", \"loop\": True},\n                {\"\
          type\": \"audio\", \"source\": a_url}\n            ]\n\n            # ---\
          \ 【重要：ここが修正ポイント！】3カット目（i=2）にUI画像・動画を表示 ---\n            if i == 2 and insert_media_url:\n\
          \                # 拡張子で画像か動画か簡易判定\n                is_image = any(insert_media_url.lower().endswith(ext)\
          \ for ext in ['.jpg', '.jpeg', '.png', '.webp'])\n                scene_elements.append({\n\
          \                    \"type\": \"image\" if is_image else \"video\",\n \
          \                   \"source\": insert_media_url,\n                    \"\
          x\": \"50%\", \"y\": \"40%\", \"width\": \"80%\", \"height\": \"40%\",\n\
          \                    \"fit\": \"contain\", \"x_alignment\": \"50%\", \"\
          y_alignment\": \"50%\",\n                    \"z_index\": 15, # ビデオより上に表示\n\
          \                    \"loop\": True\n                })\n\n            # --- ロゴとテキストを同時表示（排他制御廃止） ---\n            if show_logo:\n\
          \                scene_elements.append({\n                    \"type\": \"image\", \"source\": logo_url,\n\
          \                    \"x\": \"50%\", \"y\": \"50%\", \"width\": \"75%\", \"height\": \"25%\",\n\
          \                    \"fit\": \"contain\", \"x_alignment\": \"50%\", \"y_alignment\": \"50%\", \"z_index\": 15\n\
          \                })\n            # テロップはナレーション原文をそのまま表示（省略しない）。\\nを改行に\n\
          \            display_text = original_text or summarized_text or \"\"\n            if display_text:\n\
          \                formatted_text = str(display_text).replace('\\\\n', chr(10)).replace('\\\\\\n', chr(10))\n\
          \                lines = [line.strip() for line in formatted_text.split(chr(10)) if line.strip()]\n\
          \                if not lines: lines = [display_text.strip()]\n                y_positions = {1: [\"50%\"], 2: [\"46%\", \"54%\"], 3: [\"42%\", \"50%\", \"58%\"]}.get(len(lines), [\"50%\"])\n\
          \                for idx, line in enumerate(lines):\n                    if idx >= len(y_positions): break\n\
          \                    scene_elements.append({\n                        \"type\": \"text\", \"text\": line, \"width\": \"90%\", \"height\": \"10%\",\n\
          \                        \"x\": \"50%\", \"y\": y_positions[idx], \"duration\": \"100%\", \"z_index\": 15,\n\
          \                        \"fill_color\": \"#FFFFFF\", \"font_family\": \"Noto Sans JP\", \"font_weight\": \"900\",\n\
          \                        \"shadow_color\": \"rgba(0,0,0,0.6)\", \"shadow_blur\": \"25px\",\n\
          \                        \"x_alignment\": \"50%\", \"y_alignment\": \"50%\", \"content_alignment\": \"center\",\n\
          \                        \"dynamic_font_size\": True, \"font_size_maximum\": \"110px\", \"font_size_minimum\": \"45px\", \"fit\": \"shrink\"\n\
          \                    })\n\n            #\
          \ 効果音設定\n            se_url = \"\"\n            if i == 0 and SE_Start_URL:\
          \ se_url = SE_Start_URL.replace(\"?dl=0\", \"?dl=1\")\n            elif\
          \ clean_product in clean_original and SE_Product_URL: se_url = SE_Product_URL.replace(\"\
          ?dl=0\", \"?dl=1\")\n            elif SE_Other_URLs and other_se_idx < len(SE_Other_URLs):\n\
          \                se_url = SE_Other_URLs[other_se_idx].replace(\"?dl=0\"\
          , \"?dl=1\")\n                other_se_idx += 1\n            if se_url:\
          \ scene_elements.append({\"type\": \"audio\", \"source\": se_url, \"duration\"\
          : \"100%\"})\n\n            scene = {\"type\": \"composition\", \"track\"\
          : 1, \"elements\": scene_elements}\n            if i > 0: scene[\"transition\"\
          ] = {\"type\": \"crossfade\", \"duration\": overlap_duration}\n        \
          \    elements.append(scene)\n        except:\n            continue\n\n \
          \   if BGM_Source:\n        elements.append({\"type\": \"audio\", \"source\"\
          : BGM_Source.replace(\"?dl=0\", \"?dl=1\"), \"duration\": \"100%\", \"volume\"\
          : \"11%\", \"audio_fade_out\": 2})\n\n    if safe_annotation:\n        elements.append({\n\
          \            \"type\": \"text\", \"text\": safe_annotation, \"time\": 0,\
          \ \"duration\": \"100%\",\n            \"x\": \"50%\", \"y\": \"85%\", \"\
          width\": \"85%\", \"font_size\": \"23px\",\n            \"font_family\"\
          : \"Noto Sans JP\", \"fill_color\": \"#ffffff\",\n            \"x_alignment\"\
          : \"50%\", \"y_alignment\": \"50%\", \"content_alignment\": \"center\",\
          \ \"z_index\": 20\n        })\n\n    return {\"creatomate_payload\": json.dumps({\"\
          source\": {\"output_format\": \"mp4\", \"frame_rate\": 30, \"width\": 720,\
          \ \"height\": 1280, \"elements\": elements}})}"
        code_language: python3
        outputs:
          creatomate_payload:
            children: null
            type: string
        selected: false
        title: 編集
        type: code
        variables:
        - value_selector:
          - '1771398347737'
          - output
          value_type: array[string]
          variable: Video_Source
        - value_selector:
          - '1772023475359'
          - output
          value_type: array[string]
          variable: Audio_Source
        - value_selector:
          - '1772533793950'
          - text
          value_type: string
          variable: Caption_Source
        - value_selector:
          - '1772548924890'
          - link
          value_type: string
          variable: BGM_Source
        - value_selector:
          - '1771397019665'
          - annotation_text
          value_type: string
          variable: Annotation_Text
        - value_selector:
          - '1771397019665'
          - product_name
          value_type: string
          variable: Product_Name
        - value_selector:
          - '1771397019665'
          - logo_url
          value_type: string
          variable: Logo_URL
        - value_selector:
          - '1773115769331'
          - se_start
          value_type: string
          variable: SE_Start_URL
        - value_selector:
          - '1773115769331'
          - se_product
          value_type: string
          variable: SE_Product_URL
        - value_selector:
          - '1773115769331'
          - se_other
          value_type: array[string]
          variable: SE_Other_URLs
        - value_selector:
          - '1771397019665'
          - ui_media_url
          value_type: string
          variable: Insert_Media_URL
        - value_selector:
          - '1772023130738'
          - caption_segments
          value_type: array[string]
          variable: Original_Source
      height: 52
      id: '1771994177361'
      position:
        x: 3812.476524339416
        y: 645.4997786190339
      positionAbsolute:
        x: 3812.476524339416
        y: 645.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "def main(voice_label: str) -> dict:\n    # ボイス名とIDの対応表（ElevenLabsの管理画面から取得したIDを記載）\n\
          \    voice_map = {\n         \"女性1\": \"0ptCJp0xgdabdcpVtCB5\", # 例: RachelのID\n\
          \        \"男性\": \"rpNe0HOx7heUulPiOEaG\", # 例: ClydeのID\n        \"おじさん\"\
          : \"flHkNRp1BlvT73UL6gyz\", # 例: ClydeのID\n        \"怪獣\": \"rZcizibcb1rTBqSwSjpY\"\
          , # 例: AriaのID\n         \"女の子1\": \"KgETZ36CCLD1Cob4xpkv\", # 例: AriaのID\n\
          \         \"女の子2\": \"ocZQ262SsZb9RIxcQBOj\", # 例: ClydeのID\n        \"\
          男の子\": \"07ELl6XlU9grWbdaHhSA\", # 例: RachelのID\n        \"キャラクター\": \"\
          M5t0724ORuAGCh3p3DUR\", # 例: RachelのID\n    }\n    \n    # 該当がない場合のデフォルトID\n\
          \    default_id = \"CwhRBWXzGAHq8TQ4Fs17\"\n    \n    selected_id = voice_map.get(voice_label,\
          \ default_id)\n    \n    return {\n        \"voice_id\": selected_id\n \
          \   }"
        code_language: python3
        outputs:
          voice_id:
            children: null
            type: string
        selected: false
        title: ボイスリスト
        type: code
        variables:
        - value_selector:
          - '1771397019665'
          - voice_type
          value_type: string
          variable: voice_label
      height: 52
      id: '1772021143468'
      position:
        x: 1293.5238809227287
        y: 645.4997786190339
      positionAbsolute:
        x: 1293.5238809227287
        y: 645.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import re\n\ndef int_to_kanji(n):\n    kanji_nums = ['', '一', '二',\
          \ '三', '四', '五', '六', '七', '八', '九']\n    units = ['', '十', '百', '千']\n\
          \    if n == 0: return '零'\n    res = \"\"\n    for i in range(4):\n   \
          \     digit = n % 10\n        if digit > 0:\n            unit = units[i]\n\
          \            num = kanji_nums[digit]\n            if digit == 1 and i >\
          \ 0: num = \"\"\n            res = num + unit + res\n        n //= 10\n\
          \    return res\n\ndef main(script: str) -> dict:\n    # 1. クリーニング（スラッシュはカット境界のため保持）\n\
          \    clean_script = script.replace('\"', '').replace('\\\\', '').strip()\n\
          \    clean_script = clean_script.replace('\\\\n', ' ').replace('\\n', ' ')\n\
          \    \n    # 2. スラッシュ（/）のみで分割。スラッシュは動画・テロップに含めない\n    raw_segments = [s.strip() for s in clean_script.split('/') if s.strip()]\n\
          \    base_segments = raw_segments\n    \n    audio_list = []\n    for seg in base_segments:\n\
          \        def replace_match(match):\n            return int_to_kanji(int(match.group()))\n\
          \        converted = re.sub(r'\\d{1,4}', replace_match, seg)\n        audio_list.append(converted)\n\
          \    \n    return {\n        \"audio_segments\": audio_list,\n        \"caption_segments\"\
          : base_segments\n    }"
        code_language: python3
        outputs:
          audio_segments:
            children: null
            type: array[string]
          caption_segments:
            children: null
            type: array[string]
        selected: false
        title: 漢数字化/スクリプト分割
        type: code
        variables:
        - value_selector:
          - '1773990000003'
          - text
          value_type: string
          variable: script
      height: 52
      id: '1772023130738'
      position:
        x: 908.3230416769211
        y: 507.11071326245246
      positionAbsolute:
        x: 908.3230416769211
        y: 507.11071326245246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        error_handle_mode: terminated
        flatten_output: true
        height: 225
        is_parallel: false
        iterator_input_type: array[string]
        iterator_selector:
        - '1772023130738'
        - audio_segments
        output_selector:
        - '1772023804698'
        - audio_url
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1772023475359start
        title: ボイス作成
        type: iteration
        width: 688
      height: 225
      id: '1772023475359'
      position:
        x: 1580.9386983903175
        y: 645.4997786190339
      positionAbsolute:
        x: 1580.9386983903175
        y: 645.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 688
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1772023475359start
      parentId: '1772023475359'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1604.9386983903175
        y: 713.4997786190339
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: Key b394497c-2e15-4638-8ce3-c30f9c3eb04a:ec838f6e440316a2081437ab2ceae68c
            header: Authorization
            type: custom
          type: api-key
        body:
          data:
          - id: key-value-705
            key: ''
            type: text
            value: "{\n  \"text\": \"{{#1772023475359.item#}}\",\n  \"voice\": \"\
              {{#1772021143468.voice_id#}}\",\n  \"voice_settings\": {\n    \"stability\"\
              : 0.35,\n    \"similarity_boost\": 0.8,\n    \"style\": 0.45,\n    \"\
              use_speaker_boost\": true\n  }\n}"
          type: json
        headers: Content-Type:application/json
        isInIteration: true
        isInLoop: false
        iteration_id: '1772023475359'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP リクエスト 4
        type: http-request
        url: https://fal.run/fal-ai/elevenlabs/tts/eleven-v3
        variables: []
      height: 138
      id: '1772023501934'
      parentId: '1772023475359'
      position:
        x: 126.5714285714289
        y: 65
      positionAbsolute:
        x: 1707.5101269617464
        y: 710.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "import json\n\ndef main(body: str) -> dict:\n    try:\n        data\
          \ = json.loads(body)\n        return {\"audio_url\": data.get(\"audio\"\
          , {}).get(\"url\", \"\")}\n    except:\n        return {\"audio_url\": \"\
          \"}"
        code_language: python3
        isInIteration: true
        isInLoop: false
        iteration_id: '1772023475359'
        outputs:
          audio_url:
            children: null
            type: string
        selected: false
        title: コード実行 7
        type: code
        variables:
        - value_selector:
          - '1772023501934'
          - body
          value_type: string
          variable: body
      height: 52
      id: '1772023804698'
      parentId: '1772023475359'
      position:
        x: 429.0158662210547
        y: 65
      positionAbsolute:
        x: 2009.9545646113722
        y: 710.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-58
            key: ''
            type: text
            value: '{{#1771994177361.creatomate_payload#}}'
          type: json
        headers: Authorization:Bearer 3f30d658ae5748fd8e44d83ef51fedd6c6a2a0e290b67b0a4f277c07d5e5857a3cdf3007187bb23ad7e2f6e2f40a8f98
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: creatomate連携
        type: http-request
        url: https://api.creatomate.com/v1/renders
        variables: []
      height: 138
      id: '1772084233027'
      position:
        x: 4117.188635021624
        y: 645.4997786190339
      positionAbsolute:
        x: 4117.188635021624
        y: 645.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(creatomate_response: str) -> dict:\n    try:\n\
          \        # Creatomateからの返却データを読み込む\n        data = json.loads(creatomate_response)\n\
          \n        # Creatomateは通常、配列(リスト)で結果を返します\n        if isinstance(data, list)\
          \ and len(data) > 0:\n            # 1つ目のレンダリング結果からURLを取得\n            video_url\
          \ = data[0].get(\"url\", \"URLが見つかりませんでした\")\n        elif isinstance(data,\
          \ dict):\n            # 万が一辞書型で返ってきた場合\n            video_url = data.get(\"\
          url\", \"URLが見つかりませんでした\")\n        else:\n            video_url = \"予期せぬデータ形式です\"\
          \n\n        return {\n            \"final_video_url\": video_url\n     \
          \   }\n    except Exception as e:\n        return {\n            \"final_video_url\"\
          : f\"エラーが発生しました: {str(e)}\"\n        }"
        code_language: python3
        outputs:
          final_video_url:
            children: null
            type: string
        selected: false
        title: 出力をURLのみに変更
        type: code
        variables:
        - value_selector:
          - '1772084233027'
          - body
          value_type: string
          variable: creatomate_response
      height: 52
      id: '1772084796592'
      position:
        x: 4403.947374550848
        y: 645.4997786190339
      positionAbsolute:
        x: 4403.947374550848
        y: 645.4997786190339
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1772023130738'
          - caption_segments
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-2.5-flash
          provider: langgenius/gemini/google
        prompt_template:
        - id: 3aa1f627-3f99-4505-8bd4-3f2e3c41846f
          role: system
          text: 'ご提示いただいたプロンプトをベースに、今回発生した「1文字だけの孤立（文字被り）」を物理的に防ぎ、かつ要約の精度を上げるための制約を組み込んだ**「完全版プロンプト」**を作成しました。

            これをDifyの「テロップ用に簡略化（LLM）」ノードのシステムプロンプトに貼り付けてください。

            テロップ生成用：完全版プロンプト

            役割: ショート動画のテロップデザイン担当。日本語の文法（文節）に精通し、視聴者が一瞬で理解できる「極短フレーズ」を作るプロ編集者。

            タスク: 入力されたナレーションを、視認性の高いテロップ用テキストに変換してください。

            【改行と文字数の絶対ルール】

            1行の最大文字数: 1行は最大7文字を目安とします。

            1文字孤立の禁止（最重要）: - 改行した結果、2行目が「〜い」「〜た」「〜る」などの1文字、または2文字だけが残る状態は絶対に禁止です。

            例：×「査定額全然違うらし\nい」 → ○「査定額が\n激変する」

            文節をまたぐ改行の禁止: - 単語や助詞の途中で切ることは厳禁です。

            例：×「ラベルを貼るだ\nけ」 → ○「ラベルを\n貼るだけ」

            要約の優先: - 1行が長くなりすぎる場合、無理に改行で繋ぐのではなく、体言止めや類語への言い換えで文字数を削ってください。

            「？」「！」は表示してください

            【要約・改行の調整例】

            (元文) 査定額が全然違うらしいんですよ

            ○ 査定額に大差

            ○ 査定額が激変

            × 査定額全然違うらし\nい（1文字孤立のためNG）

            (元文) 全国の優良企業から一括査定できるから

            ○ 優良企業へ\n一括査定

            ○ 全国から\n一括査定

            (元文) 最大6社を無料で比較できるのが簡単すぎて

            ○ 最大6社\n無料比較

            ○ 比較が\n超カンタン

            【出力形式】

            出力は必ず ["テロップ1", "テロップ2"] のような JSON配列（リスト形式）のみ としてください。

            挨拶、解説、コードブロック（```json 等）は一切不要です。

            入力された要素数（項目の数）を絶対に変えないでください。 入力が10個なら、出力も必ず10個にしてください。


            【商材名の保護ルール】 入力文に「{{商材名}}」が含まれている場合、その部分は絶対に削ったり言い換えたりしないでください。また、商材名の途中で改行を入れることも禁止します。'
        - id: f1b1a523-58fe-439f-badb-d2e5dd19294b
          role: user
          text: '以下のナレーションリストを、上記のルール（極短・文節での改行）に従って、テロップ用に変換してください。

            {{#1772023130738.caption_segments#}}'
        selected: false
        structured_output_enabled: true
        title: テロップ用に簡略化
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1772533793950'
      position:
        x: 1293.5238809227287
        y: 286.61531332195614
      positionAbsolute:
        x: 1293.5238809227287
        y: 286.61531332195614
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\nimport random\n\ndef main(json_data: str) -> dict:\n \
          \   # 1. 届いた文字列を、Pythonが扱える「辞書形式」に変換します（ここが重要！）\n    data = json.loads(json_data)\n\
          \    \n    # 2. entries（ファイル一覧）を取り出す\n    # ※ 新規HTTPリクエストのbodyから直接入れる場合は\
          \ data['entries'] になります\n    files = data.get('entries', [])\n    \n   \
          \ # 3. ファイル（.mp3や.wav）だけを抽出\n    music_files = [f for f in files if f.get('.tag')\
          \ == 'file']\n    \n    if not music_files:\n        return {\"file_path\"\
          : \"\"}\n        \n    # 4. ランダムに1つ選ぶ\n    selected_file = random.choice(music_files)\n\
          \    \n    # ここを 'selected_path' という名前に変更します\n    return {\n        \"selected_path\"\
          : selected_file.get('path_display', \"\")\n    }"
        code_language: python3
        outputs:
          selected_path:
            children: null
            type: string
        selected: false
        title: BGM選択
        type: code
        variables:
        - value_selector:
          - '1772596991412'
          - body
          value_type: string
          variable: json_data
      height: 52
      id: '1772543646634'
      position:
        x: 2256.161449995458
        y: 1018.3180872001699
      positionAbsolute:
        x: 2256.161449995458
        y: 1018.3180872001699
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-502
            key: ''
            type: text
            value: "{\n  \"path\": \"{{#1772543646634.selected_path#}}\"\n}"
          type: json
        headers: Authorization:Bearer {{#1772595713562.new_token#}}
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP リクエスト 5
        type: http-request
        url: https://api.dropboxapi.com/2/files/get_temporary_link
        variables: []
      height: 138
      id: '1772548676944'
      position:
        x: 2527.482531569158
        y: 1018.3180872001699
      positionAbsolute:
        x: 2527.482531569158
        y: 1018.3180872001699
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_body: str) -> dict:\n    # 文字列を辞書形式（JSON）に変換します\n\
          \    data = json.loads(response_body)\n    \n    # link キーの中身を取り出して返します\n\
          \    return {\n        \"link\": data.get(\"link\", \"\")\n    }"
        code_language: python3
        outputs:
          link:
            children: null
            type: string
        selected: false
        title: コード実行 10
        type: code
        variables:
        - value_selector:
          - '1772548676944'
          - body
          value_type: string
          variable: response_body
      height: 52
      id: '1772548924890'
      position:
        x: 2870.8117904992264
        y: 1018.3180872001699
      positionAbsolute:
        x: 2870.8117904992264
        y: 1018.3180872001699
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-102
            key: grant_type
            type: text
            value: refresh_token
          - id: key-value-119
            key: refresh_token
            type: text
            value: R6SA_cHONU8AAAAAAAAAAe8lePQUjvXw9ZP8eLw6OWYvibnaiI1yPebO25UT0P-l
          - id: key-value-138
            key: client_id
            type: text
            value: lpkatm45npylszf
          - id: key-value-161
            key: client_secret
            type: text
            value: c9wsrkdzfl2lzv1
          type: x-www-form-urlencoded
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Token_Update
        type: http-request
        url: https://api.dropbox.com/oauth2/token
        variables: []
      height: 138
      id: '1772595544896'
      position:
        x: 1293.5238809227287
        y: 1018.3180872001699
      positionAbsolute:
        x: 1293.5238809227287
        y: 1018.3180872001699
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\n\ndef main(response_body: str) -> dict:\n    data = json.loads(response_body)\n\
          \    return {\n        \"new_token\": data.get(\"access_token\")\n    }"
        code_language: python3
        outputs:
          new_token:
            children: null
            type: string
        selected: false
        title: コード実行 10
        type: code
        variables:
        - value_selector:
          - '1772595544896'
          - body
          value_type: string
          variable: response_body
      height: 52
      id: '1772595713562'
      position:
        x: 1659.396752067657
        y: 1018.3180872001699
      positionAbsolute:
        x: 1659.396752067657
        y: 1018.3180872001699
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-679
            key: ''
            type: text
            value: "{\n  \"path\": \"/BGM\" \n}"
          type: json
        headers: 'Authorization:Bearer {{#1772595713562.new_token#}}

          Content-Type:application/json'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: HTTP リクエスト 7
        type: http-request
        url: https://api.dropboxapi.com/2/files/list_folder
        variables: []
      height: 138
      id: '1772596991412'
      position:
        x: 1957.581906002331
        y: 1018.3180872001699
      positionAbsolute:
        x: 1957.581906002331
        y: 1018.3180872001699
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-37
            key: grant_type
            type: text
            value: refresh_token
          - id: key-value-54
            key: refresh_token
            type: text
            value: Ni472fv59VoAAAAAAAAAAddX6OL7SnFj22AMqZDuv8TZ9-5MAgyj0pTpVdP3gRkk
          - id: key-value-75
            key: client_id
            type: text
            value: 8albz5tdlniko4g
          - id: key-value-126
            key: client_secret
            type: text
            value: cq16mlcgf5d1qgg
          type: x-www-form-urlencoded
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 効果音用トークン取得
        type: http-request
        url: https://api.dropbox.com/oauth2/token
        variables: []
      height: 138
      id: '1773115630069'
      position:
        x: 1300.496358403388
        y: 1430.907411138566
      positionAbsolute:
        x: 1300.496358403388
        y: 1430.907411138566
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import requests\nimport random\n\ndef get_se_link(token, path):\n \
          \   headers = {'Authorization': f'Bearer {token}', 'Content-Type': 'application/json'}\n\
          \    res = requests.post('https://api.dropboxapi.com/2/files/list_folder',\
          \ headers=headers, json={\"path\": path})\n    if res.status_code != 200:\
          \ return \"\"\n    files = [f for f in res.json().get('entries', []) if\
          \ f.get('.tag') == 'file']\n    if not files: return \"\"\n    selected\
          \ = random.choice(files)['path_lower']\n    res_link = requests.post('https://api.dropboxapi.com/2/files/get_temporary_link',\
          \ headers=headers, json={\"path\": selected})\n    return res_link.json().get('link',\
          \ '') if res_link.status_code == 200 else \"\"\n\ndef get_multiple_se_links(token,\
          \ path, count):\n    headers = {'Authorization': f'Bearer {token}', 'Content-Type':\
          \ 'application/json'}\n    res = requests.post('https://api.dropboxapi.com/2/files/list_folder',\
          \ headers=headers, json={\"path\": path})\n    if res.status_code != 200:\
          \ return []\n    files = [f for f in res.json().get('entries', []) if f.get('.tag')\
          \ == 'file']\n    if not files: return []\n    \n    # シャッフルして被りなしでカット数分取得（ファイル数上限でストップ）\n\
          \    random.shuffle(files)\n    selected_files = files[:count]\n    \n \
          \   links = []\n    for f in selected_files:\n        res_link = requests.post('https://api.dropboxapi.com/2/files/get_temporary_link',\
          \ headers=headers, json={\"path\": f['path_lower']})\n        if res_link.status_code\
          \ == 200:\n            links.append(res_link.json().get('link', ''))\n \
          \   return links\n\ndef main(token: str, segments: list) -> dict:\n    cut_count\
          \ = len(segments) if segments else 5\n    return {\n        \"se_start\"\
          : get_se_link(token, \"/冒頭\"),\n        \"se_product\": get_se_link(token,\
          \ \"/商材名\"),\n        \"se_other\": get_multiple_se_links(token, \"/他スクリプト\"\
          , cut_count)\n    }"
        code_language: python3
        outputs:
          se_other:
            children: null
            type: array[string]
          se_product:
            children: null
            type: string
          se_start:
            children: null
            type: string
        selected: false
        title: 効果音URL一括取得
        type: code
        variables:
        - value_selector:
          - '1773115935085'
          - se_token
          value_type: string
          variable: token
        - value_selector:
          - '1772023130738'
          - audio_segments
          value_type: array[string]
          variable: segments
      height: 52
      id: '1773115769331'
      position:
        x: 2847.4427245965144
        y: 1430.907411138566
      positionAbsolute:
        x: 2847.4427245965144
        y: 1430.907411138566
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import json\ndef main(response_body: str) -> dict:\n    data = json.loads(response_body)\n\
          \    return {\"se_token\": data.get(\"access_token\")}"
        code_language: python3
        outputs:
          se_token:
            children: null
            type: string
        selected: false
        title: 効果音トークン抽出
        type: code
        variables:
        - value_selector:
          - '1773115630069'
          - body
          value_type: string
          variable: response_body
      height: 52
      id: '1773115935085'
      position:
        x: 1659.396752067657
        y: 1430.907411138566
      positionAbsolute:
        x: 1659.396752067657
        y: 1430.907411138566
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -527.0375878598047
      y: 87.30422138878907
      zoom: 0.6015078439355509
  rag_pipeline_variables: []
